@import url(fonts/fonts.css);

/* CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {overflow: hidden;}

* {
  font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial;
  color: #7e5249;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fffefc;
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
}
/* VARIABLES */
:root {
  --boardSize: 320px;
  --fillSize: 30px;
}

/* #gameInfo {
  width: 100%;
  height: 55px;
  background: #000;
} */
header {
  height: 50px;
  background-color: #f7f4ed;
}
header #logo {
  display: block;
  margin: auto;
  padding-top: 5px;
  width: 40px;
}

.btn {
  border: none;
  border-radius: 5px;
}

#deviceLog {
  position: absolute;
  bottom: 20px;
}
#clearStorage {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}

#menu-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 170px;
  background-color: rgba(230, 230, 230, 0.2);
}
#menu-wrap.show {
  display: block;
}
#menu-wrap .menu {
  position: relative;
  width: 238px;
  height: 238px;
  margin: auto;
}
#menu-wrap .menu .menu-item {
  float: left;
  width: 50%;
  height: 50%;
  padding: 5px;
}
#menu-wrap .menu .menu-item .item {
  width: 100%;
  height: 100%;
  background-color: #555;
  cursor: pointer;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
#menu-wrap .menu .menu-item .item img {
  display: block;
  width: 68px;
  padding-top: 15px;
  margin: auto;
  pointer-events: none;
}
#menu-wrap .menu .menu-item .item#restart {
  background-color: #c98b9d;
  background-image: url(img/restart.png);
}
#menu-wrap .menu .menu-item .item#sound {
  background-color: #85bbdd;
  background-image: url(img/sound.png);
}
body.mute #menu-wrap .menu .menu-item .item#sound {
  background-image: url(img/mute.png);
}
#menu-wrap .menu .menu-item .item#color-mode {
  background-color: #a4db9c;
  background-image: url(img/colors.png);
}
#menu-wrap .menu .menu-item .item#ad {
  background-color: #f48f62;
}
#menu-wrap .menu .modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffefc;
  border-radius: 5px;
}
#menu-wrap .menu .modal.show {
  display: block;
}
#menu-wrap .menu .modal#restart-modal {
  text-align: center;
}
#menu-wrap .menu .modal#restart-modal .btn {
  width: 102px;
  padding: 10px 0;
}
#menu-wrap .menu .modal#restart-modal #confirm-restart {
  background-color: lightgreen;
}
#menu-wrap .menu .modal#restart-modal #cancel-restart {
  background-color: tomato;
}
#menu-wrap .menu .modal#color-modal {
  padding: 5px;
}
#menu-wrap .menu .modal#color-modal .options {
  float: left;
  width: 50%;
  margin-bottom: 15px;
}
#menu-wrap .menu .modal#color-modal .options span {
  display: block;
  clear: left;
  width: 30px;
  height: 30px;
  margin: auto;
  background-color: green;
}
#menu-wrap .menu .modal#color-modal .options span#night {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: transparent;
  background-image: url(img/moon.png);
  

}
#menu-wrap .menu .modal#color-modal .color-choices {
  padding: 0 10px;
}
#menu-wrap .menu .modal#color-modal .color-choices img.color {
  display: block;
  width: 100%;
  margin-bottom: 3px;
}
#menu-wrap #game-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  background-color: #f7f4ed;
  text-align: center;
  pointer-events: auto;
  transform: translate3d(0, -500px, 0);
}
#menu-wrap #game-over.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);

} 
#menu-wrap #game-over h1 {
  margin-bottom: 2px;
}
#menu-wrap #game-over h4 {
  margin: 2px 0;
}
#menu-wrap #game-over #game-over-score {
  font-size: 1em;
  font-weight: 100;
  color: #98dc55;
}
#menu-wrap #game-over #high-score {
  display: none;
  position: relative;
  width: 170px;
  margin: auto;
  background-color: red;
  color: #fffefc;
}
#menu-wrap #game-over #high-score.show {
  display: block;
}

.game-info {
  position: relative;
  width: 340px;
  height: 68px;
  margin: auto;
  padding-top: 10px;
}
.game-info .score {
  font-size: 14pt;
  font-weight: 300;
  margin: 0;
  color: #98dc55;
}
.game-info .score#score-best {
  color: #ed954a;
}
.game-info #rotation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 68px;
  margin: auto;
  /* -webkit-user-select: text; */
  /* user-select: text; */
}
.game-info #rotation .rotate {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 1px solid paleturquoise;
  border-radius: 50%;
  background-color: transparent;
  transition: background 0.25s;
}
.game-info #rotation .rotate.mustRotate {
  animation: pulseempty 0.5s linear infinite alternate;
}
.game-info #rotation .rotate.show {
  background-color: paleturquoise;
}
.game-info #rotation .rotate.show.mustRotate {
  animation: pulse 0.5s linear infinite alternate;
}
.game-info #rotation .rotate:last-child {
  margin-right: 0;
}
.game-info #menu-btn {
  position: absolute;
  top: 0;
  right: -12px;
  width: 50px;
  height: 50px;
  /* margin-top: 8.5px; */
  padding: 2px;
  background-color: transparent;
  background: url(img/settings.png) center no-repeat;
  background-size: 64% auto;
  cursor: pointer;
  outline: none;
}
#menu-btn #settings {
  width: 90%;
}
/* .game-info #menu-btn hr {
  width: 100%;
  margin: 8px 0;
  border: none;
  border-top: 1px solid #e0d1c0;
} */

@keyframes pulse {
  0% {
    border-color: paleturquoise;
    background-color: paleturquoise;
  }

  100% {
    border-color: #ff4136;
    background-color: #ff4136;
  }
}
@keyframes pulseempty {
  0% {
    border-color: paleturquoise;
  }

  100% {
    border-color: #ff4136;
  }
}
#board-container {
  margin: auto;
  width: var(--boardSize);
  height: var(--boardSize);
}
#board {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  /* POTENTIAL PERFORMANCE BOOST */
  will-change: transform;
}
#board.transEnd {
  transition: none;
  transition-timing-function:0;
}
#board::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: -13px;
  left: calc((var(--boardSize) / 2) - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed954a;
  transition: opacity 0.2s;
}
#board.rotating::before {
  opacity: 1;
}
/* AFTER SCALING FILLS WHEN A LINE OF TEN IS CREATED THIS MIMICS THE LOOK OF EMPTY CELLS */
#board .cell {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#board .cell::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f7f4ed;
  border-radius: 3px;
  z-index: -1;
}
.cell, .shape {
  padding: 1px;
}
.fill {
  width: var(--fillSize);
  height: var(--fillSize);
  background: #f7f4ed;
  border-radius: 3px;
}
#board .fill.transition {
  transition: transform 0.2s; 
  transition-timing-function: cubic-bezier(.35,-0.4,1,.4);
  will-change: transform;
  transform: scale(0);
}
#drawer-container {
  margin-top: 25px
}
#drawer {
  display: flex;
  margin: auto;
  width: var(--boardSize);
  justify-content: space-evenly;
  align-items: center;
  pointer-events: none;
  transform: translate3d(100%, 0, 0);
}
#drawer.slide {
  transition: transform 0.2s;
  transform: translate3d(0, 0, 0);
  z-index: 2;
}
#drawer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  background: white;
  z-index: 1;
}
#drawer.slide::after {
  transition: transform 0.2s;
  transform: translate3d(100%, 0, 0);
  background: transparent;
}
.shape, .dead {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  transition: all 0.2s;
  will-change: transform;
  transform: scale(0.6);
}

.shape.active {
  transition: none;
  z-index: 5;
}
.shape .trigger {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  margin: auto;
  pointer-events: all;

}
.shape .fill, 
.shape .ghost {
  margin: 1px;
  display: inline-block;
  transition: all 0.2s;
}
.shape .ghost {
  width: var(--fillSize);
  height: var(--fillSize);
}

.shape[data-shape="sq"][data-size="1"] {
  width: 34px;
  height: 34px;
}
.shape[data-shape="sq"][data-size="1"] .trigger{
  left: -34px;
}
.shape[data-shape="sq"][data-size="2"],
.shape[data-shape="corner"][data-size="2"] {
  width: 66px;
  height: 66px;

}
.shape[data-shape="sq"][data-size="3"],
.shape[data-shape="corner"][data-size="3"] {
  width: 98px;
  height: 98px;
}
.shape[data-shape="sq"][data-size="2"] .trigger,
.shape[data-shape="corner"][data-size="2"] .trigger{
  left: -18px;
}
.shape[data-shape="sq"][data-size="3"] .trigger{
  left: -2px;
}


.shape[data-shape="corner"][data-size="2"] .fill:first-child,
.shape[data-shape="corner"][data-size="2"][data-rotate="left"] .ghost, 
.shape[data-shape="corner"][data-size="3"] .fill:first-child,
.shape[data-shape="corner"][data-size="3"][data-rotate="right"] .fill,
.shape[data-shape="corner"][data-size="3"][data-rotate="down"] .fill {
  order:0;
}
.shape[data-shape="corner"][data-size="2"] .ghost,
.shape[data-shape="corner"][data-size="2"][data-rotate="left"] .fill:first-child,
.shape[data-shape="corner"][data-size="3"][data-rotate="left"] .fill:first-child,
.shape[data-shape="corner"][data-size="3"][data-rotate="right"] .ghost:nth-child(6),
.shape[data-shape="corner"][data-size="3"][data-rotate="right"] .ghost:nth-child(7),
.shape[data-shape="corner"][data-size="3"][data-rotate="down"] .ghost:nth-child(6),
.shape[data-shape="corner"][data-size="3"][data-rotate="down"] .ghost:nth-child(7)  {
  order:1;
}
.shape[data-shape="corner"][data-size="2"] .fill,
.shape[data-shape="corner"][data-size="3"][data-rotate=""] .fill:nth-child(2),
.shape[data-shape="corner"][data-size="3"][data-rotate="right"] .fill:nth-child(5),
.shape[data-shape="corner"][data-size="3"][data-rotate="down"] .fill:nth-child(4) {
  order:2;
}
.shape[data-shape="corner"][data-size="3"] .ghost:nth-child(8),
.shape[data-shape="corner"][data-size="3"] .ghost:nth-child(9),
.shape[data-shape="corner"][data-size="2"][data-rotate="down"] .ghost,
.shape[data-shape="corner"][data-size="2"][data-rotate="right"] .ghost,
.shape[data-shape="corner"][data-size="3"][data-rotate="right"] .ghost {
  order:3;
}
.shape[data-shape="corner"][data-size="3"] .fill,
.shape[data-shape="corner"][data-size="2"][data-rotate="down"] .fill:nth-child(3),
.shape[data-shape="corner"][data-size="3"][data-rotate="down"] .fill:nth-child(5) {
  order: 4;
}

.shape[data-shape="line"] {
  height: 34px;
  flex-direction: row;
}
.shape[data-shape="line"][data-size="2"] {
  width: 66px;
}
.shape[data-shape="line"][data-size="2"] .trigger {
  left: -18px;
}
.shape[data-shape="line"][data-size="2"][data-rotate="left"] {
  height: 66px;
}
.shape[data-shape="line"][data-size="3"] {
  width: 98px;
}
.shape[data-shape="line"][data-size="3"][data-rotate="left"] {
  height: 98px;
}
.shape[data-shape="line"][data-size="4"] {
  width: 130px;
}
.shape[data-shape="line"][data-size="4"][data-rotate="left"] {
  height: 130px;
}
.shape[data-shape="line"][data-size="5"] {
  width: 162px;
}
.shape[data-shape="line"][data-size="5"][data-rotate="left"] {
  height: 162px;
}
.shape[data-shape="line"][data-rotate="left"] {
  width: 34px;
  flex-direction: column;
}
.shape[data-shape="line"][data-rotate="left"] .trigger {
  left: -34px;
}
.fill[data-shape="corner"][data-size="2"],
.shape[data-shape="corner"][data-size="2"] .fill {
  background-color: #89cbc9;
}
.fill[data-shape="corner"][data-size="3"],
.shape[data-shape="corner"][data-size="3"] .fill {
  background-color: #85bbdd;
}
.fill[data-shape="sq"][data-size="1"],
.shape[data-shape="sq"][data-size="1"] .fill {
  background-color: #92a1d3;
}
.fill[data-shape="sq"][data-size="2"],
.shape[data-shape="sq"][data-size="2"] .fill {
  background-color: #a4db9c;
}
.fill[data-shape="sq"][data-size="3"],
.shape[data-shape="sq"][data-size="3"] .fill {
  background-color: #7bbf93;
}
.fill[data-shape="line"][data-size="2"],
.shape[data-shape="line"][data-size="2"] .fill {
  background-color: #f2e38b;
}
.fill[data-shape="line"][data-size="3"],
.shape[data-shape="line"][data-size="3"] .fill {
  background-color: #f48f62;
}
.fill[data-shape="line"][data-size="4"],
.shape[data-shape="line"][data-size="4"] .fill {
  background-color: #c98b9d;
}
.fill[data-shape="line"][data-size="5"],
.shape[data-shape="line"][data-size="5"] .fill {
  background-color: #933e3e;
}

.classic .fill[data-shape="corner"][data-size="2"],
.classic .shape[data-shape="corner"][data-size="2"] .fill {
  background-color: #59cb86;
}
.classic .fill[data-shape="corner"][data-size="3"],
.classic .shape[data-shape="corner"][data-size="3"] .fill {
  background-color: #5cbee4;
}
.classic .fill[data-shape="sq"][data-size="1"],
.classic .shape[data-shape="sq"][data-size="1"] .fill {
  background-color: #7d8ed4;
}
.classic .fill[data-shape="sq"][data-size="2"],
.classic .shape[data-shape="sq"][data-size="2"] .fill {
  background-color: #98dc55;
}
.classic .fill[data-shape="sq"][data-size="3"],
.classic .shape[data-shape="sq"][data-size="3"] .fill {
  background-color: #4dd5b0;
}
.classic .fill[data-shape="line"][data-size="2"],
.classic .shape[data-shape="line"][data-size="2"] .fill {
  background-color: #ffc63e;
}
.classic .fill[data-shape="line"][data-size="3"],
.classic .shape[data-shape="line"][data-size="3"] .fill {
  background-color: #ed954a;
}
.classic .fill[data-shape="line"][data-size="4"],
.classic .shape[data-shape="line"][data-size="4"] .fill {
  background-color: #e76a82;
}
.classic .fill[data-shape="line"][data-size="5"],
.classic .shape[data-shape="line"][data-size="5"] .fill {
  background-color: #dc6555;
}

.dark .fill[data-shape="corner"][data-size="2"],
.dark .shape[data-shape="corner"][data-size="2"] .fill {
  background-color: #3f915f;
}
.dark .fill[data-shape="corner"][data-size="3"],
.dark .shape[data-shape="corner"][data-size="3"] .fill {
  background-color: #3b7c93;
}
.dark .fill[data-shape="sq"][data-size="1"],
.dark .shape[data-shape="sq"][data-size="1"] .fill {
  background-color: #4c567f;
}
.dark .fill[data-shape="sq"][data-size="2"],
.dark .shape[data-shape="sq"][data-size="2"] .fill {
  background-color: #76aa42;
}
.dark .fill[data-shape="sq"][data-size="3"],
.dark .shape[data-shape="sq"][data-size="3"] .fill {
  background-color: #2e826a;
}
.dark .fill[data-shape="line"][data-size="2"],
.dark .shape[data-shape="line"][data-size="2"] .fill {
  background-color: #ce9f31;
}
.dark .fill[data-shape="line"][data-size="3"],
.dark .shape[data-shape="line"][data-size="3"] .fill {
  background-color: #d1894f;
}
.dark .fill[data-shape="line"][data-size="4"],
.dark .shape[data-shape="line"][data-size="4"] .fill {
  background-color: #994a59;
}
.dark .fill[data-shape="line"][data-size="5"],
.dark .shape[data-shape="line"][data-size="5"] .fill {
  background-color: #a85045;
}

.earth .fill[data-shape="corner"][data-size="2"],
.earth .shape[data-shape="corner"][data-size="2"] .fill {
  background-color: #868e8e;
}
.earth .fill[data-shape="corner"][data-size="3"],
.earth .shape[data-shape="corner"][data-size="3"] .fill {
  background-color: #7f7576;
}
.earth .fill[data-shape="sq"][data-size="1"],
.earth .shape[data-shape="sq"][data-size="1"] .fill {
  background-color: #7e5249;
}
.earth .fill[data-shape="sq"][data-size="2"],
.earth .shape[data-shape="sq"][data-size="2"] .fill {
  background-color: #e2deb5;
}
.earth .fill[data-shape="sq"][data-size="3"],
.earth .shape[data-shape="sq"][data-size="3"] .fill {
  background-color: #91966e;
}
.earth .fill[data-shape="line"][data-size="2"],
.earth .shape[data-shape="line"][data-size="2"] .fill {
  background-color: #bcad90;
}
.earth .fill[data-shape="line"][data-size="3"],
.earth .shape[data-shape="line"][data-size="3"] .fill {
  background-color: #b39a6a;
}
.earth .fill[data-shape="line"][data-size="4"],
.earth .shape[data-shape="line"][data-size="4"] .fill {
  background-color: #4f3f3e;
}
.earth .fill[data-shape="line"][data-size="5"],
.earth .shape[data-shape="line"][data-size="5"] .fill {
  background-color: #373f4c;
}

.colorBlind .cell .fill[data-shape="corner"][data-size="2"],
.colorBlind .fill[data-shape="corner"][data-size="2"] {
  background-color: #059638;
}
.colorBlind .cell .fill[data-shape="corner"][data-size="3"],
.colorBlind .fill[data-shape="corner"][data-size="3"] {
  background-color: #8cdddd;
}
.colorBlind .cell .fill[data-shape="sq"][data-size="1"],
.colorBlind .fill[data-shape="sq"][data-size="1"] {
  background-color: #afbadb;
}
.colorBlind .cell .fill[data-shape="sq"][data-size="2"],
.colorBlind .fill[data-shape="sq"][data-size="2"] {
  background-color: #9dea44;
}
.colorBlind .cell .fill[data-shape="sq"][data-size="3"],
.colorBlind .fill[data-shape="sq"][data-size="3"] {
  background-color: #2889d1;
}
.colorBlind .cell .fill[data-shape="line"][data-size="2"],
.colorBlind .fill[data-shape="line"][data-size="2"] {
  background-color: #efef0f;
}
.colorBlind .cell .fill[data-shape="line"][data-size="3"],
.colorBlind .fill[data-shape="line"][data-size="3"] {
  background-color: #b9c114;
}
.colorBlind .cell .fill[data-shape="line"][data-size="4"],
.colorBlind .fill[data-shape="line"][data-size="4"] {
  background-color: #ae86e2;
}
.colorBlind .cell .fill[data-shape="line"][data-size="5"],
.colorBlind .fill[data-shape="line"][data-size="5"] {
  background-color: #6b58e0;
}
.shape.dead,
.shape.dead .trigger,
.shape.dead[data-shape][data-size] > .fill {
  pointer-events: none;
  background-color: transparent;
}

.night, .night #drawer::after {
  background-color: #222;
}
.night header {
  background-color: #111;
}
.night #menu-wrap .menu .modal {
  background-color: #444;
}
.night #menu-wrap .menu .modal#color-modal .options span#night {
  background-image: url(img/moonlit.png);
}
.night #menu-wrap #game-over {
  background-color: #444;
  color: #eee;
}
.night #menu-wrap #game-over h1,
.night #menu-wrap #game-over h4 {
  color: #fffefc;
}
.night .fill, .night #board .cell::before {
  background: #333;
}